.logo {
  max-width: 30%;
  margin-top: 120px;
  margin-bottom: 48px;
}

li {
  list-style: none;
  display: inline;
  padding: 10px 30px;
  font-size: 1.25em;
}

li:last-of-type {
  margin-right: 0px;
}

ul {
  text-align: center;
  margin-bottom: 4em;
}

body {
  font-family: "Open Sans", "Helvetica", sans-serif;
}

img {
  margin-bottom: 40px;
}
